.embed2yt-thumbnail {
	padding: 0 !important;
	box-sizing: border-box !important; /* So that the margins don't change the size. */
	
	display: block;
	
	overflow: none;
	white-space: nowrap;
	
	color: white !important;
	text-decoration: none !important;
	font: 1.7em helvetica !important;
	text-align: left;
	
	background-color: black;
	background-size: 6em, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center center;
}
.embed2yt-thumbnail .embed2yt-title {
	background: hsla(0, 0%, 0%, 0.5);
	padding: 0 0.4em !important;
}
